@model IEnumerable<AppCrudCore.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnioPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resumen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockDisponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioPublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resumen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockDisponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLibro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLibro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLibro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
